PUBLIC_GOOGLE_SHEETS_ID=1dLm00EofQzziwX0_TyZrLdS0FJUmmVR44kpGhNTb7ws
PUBLIC_GOOGLE_API_KEY=your_google_api_key
PUBLIC_GOOGLE_SHEET_NAME=Auto Market Kavak
PUBLIC_GOOGLE_SHEET_RANGE=A1:P
PUBLIC_POLLING_INTERVAL=300000
PUBLIC_SITE_URL=https://your-domain.example
